*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/***** Here start the calculator style ********/

.calculator-container {
  width: 70%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}

.result-screen {
  width: 100%;
  border-bottom: 1px solid rgba(180, 179, 179, 0.459);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  height: 40px;
  background-color: rgb(97, 106, 118);
  color: white;
  padding-right: 5px;
}

.calculator-keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px;
}

.button {
  background-color: rgba(180, 179, 179, 0.459);
  border: 0.5px solid rgba(180, 179, 179, 0.459);
  cursor: pointer;
}

.button:nth-child(17) {
  grid-column: 1/3;
}

.button:hover {
  background-color: rgba(128, 128, 128, 0.345);
}

.button:nth-child(4),
.button:nth-child(8),
.button:nth-child(12),
.button:nth-child(16),
.button:nth-child(19) {
  background-color: rgb(255, 145, 0);
}

.button:nth-child(4):hover,
.button:nth-child(8):hover,
.button:nth-child(12):hover,
.button:nth-child(16):hover,
.button:nth-child(19):hover {
  background-color: rgba(255, 68, 0, 0.813);
}

/**** Here start the navBar styles ****/

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  border: 1px solid black;
  height: 8%;
}

.nav {
  display: flex;
  list-style: none;
  margin-right: 24px;
  cursor: pointer;
}

.navLink {
  padding: 5px;
}

.logo {
  font-size: 1.5rem;
  margin-left: 24px;
  cursor: pointer;
  font-weight: bold;
}

/*** Here start the Home styles ****/
.home {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-top: 20%;
}

.homeTitle {
  font-size: 2rem;
  margin: 24px;
  margin-top: 25%;
}

.homePar {
  font-size: 1rem;
  margin: 24px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .calculator-container {
    width: 20%;
  }

  .home {
    width: 90%;
    margin-top: 0%;
  }

  .homeTitle {
    margin-top: 0%;
  }
}
